html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  background-color: #333333;
  color: #DDDDDD;
  text-align: center;
  font-size: 180%;
  font-family: 'Open+Sans', sans-serif;
}

h1 {
  padding-bottom: 3%;
}

section {
  padding-top: 60px;
  min-height: 100%;
  vertical-align: middle;
}

table {
  width: 100%;
  margin: auto;
}

th, td {
  text-align: center;
  padding: 1% 1%;
}

img {
  max-width: 90%;
  margin:auto;
}

tr.highlight {
  background-color: #444444;
}

ul {
  list-style: none;
}

.odd .left, .even .right {
  background-color: #303030;
}


button.navbar-right {
  margin-right: 15px;
}

div.left {
  display: inline-block;
  float: left;
  width: 30%;
  text-align: right;
  padding: 3%;
}

div.right {
  display: inline-block;
  float: right;
  width: 70%;
  padding: 3%;

}

div.right::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

div.bubble {
  font-size: 1.4em;
  width: 45%;
  display: inline-block;
  min-height: 30vh;
  vertical-align: top;
  padding: 2%;
}

div.employer {
  padding-top: 2%;
}

p.intro {
  font-size: 1.4em;
}

p.description {
  width: 60%;
  margin: auto;
}

.bubble img {
  background-color: #777777;
  border-radius: 25px;
  height:  100px;
  margin: 2%;
  padding: 5px;
  width: 100px;
}

p.dates,
ul.title {
  display: inline-block;
  width: 45%;
  padding: 2%;
  vertical-align:middle;
  font-style: italic;
}

p.role {
  font-size: 1.2em;
  padding: 1%;
}

.employer h2 {
    text-align: left;
}

#main div {
  display: table;
}

h1.title {
  display: table-cell;
  vertical-align: middle;
  font-size: 5em;
}

img.icon {
  height: 180px;
  width: 180px;
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 769px) {
  div.left {
    height: 100vh;
  }
  div.right {
    height: 100vh;
    overflow-y: scroll;
  }
}

@media (max-width: 768px) {
  body {
    width: 95%;
    margin: auto;
  }
  div.left {
    display: block;
    float: none;
    text-align: center;
    padding: 3%;
    height: fit-content;
    width: 100%;
  }

  img.icon {
    display: none;
  }

  div.right {
    display: block;
    float: none;
    min-height: 100vh;
    overflow-y: auto;
    padding: 3%;
    width:100%;
  }
}
