html {
  height: 100%;
}

body {
  width: 21cm;
  color: #333333;
  text-align: center;
  font-family: 'Open+Sans', sans-serif;
  font-size: 140%;
}

nav {
  display: none;
}

section {
  width: 96%;
  margin: auto;
  min-height: 100%;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  margin-top: 5px;
  text-align: left;
  margin-left: 1%;
  font-size: 1.2em;
  font-weight: bold;
}

table {
  width: 90%;
  margin: auto;
}

th, td {
  text-align: center;
  padding: 1% 1%;
}

p.strap {
  display: none;
}

img.prominent {
  max-width: 90%;
  margin: auto;
  height: 10cm;
  margin-bottom: -1cm;
}

tr.highlight,
p.role {
  color: #000000;
}

ul {
  list-style: none;
}

table li {
  display: inline-block;
}

.bullet p {
  margin:0px;
}

p.intro {
  width: 90%;
  margin: auto;
  font-size: 1.2em;
}

div.employer {
  margin:auto;
}

p.description,
p.dates,
ul.title {
  display: inline-block;
  vertical-align:top;
  margin: 0;
}

p.dates,
ul.title {
  font-style: italic;
}

p.dates {
  width: 33%;
  text-align: right;
}

ul.title {
  width: 66%;
}

p.description {
  width: 90%;
  margin: auto;
  padding-bottom: 1%;
}

.title li {
  display: inline-block;
  padding: 0 1%;
}

.title li+li:before {
  content: ' -> '
}

p.role {
  font-size: 1.2em;
  padding: 2% 1% 3% 1%;
}

p.role {
  text-align: justify;
}

.keyword {
  font-weight: bold;
}

#introduction .left,
.bullet img,
img.icon {
  display: none;
}
